*{
  color: pink;
  font-size: 30px;
}
h1{
  /* color: red; */
}

p{
  background-color: grey;
  text-align: center;
  /* color: white; */
}

/* selecting multiple elements  */

h1,p{
  /* color: brown; */
}

#mainSection{
  text-align: center;
}

.center{
  /* color: orange; */
  text-align: center;
  margin:10px;
}
